@model List<TaskItem>


    <ul>
        @foreach(TaskItem task in Model)
        {
            <li>
                <h2>@task.Title</h2>
                @if (task.AssignedUserId != null)
                {
                    <p>@task.AssignedUser.FirstName</p>
                    <p>@task.AssignedUserId</p>
                } 
                <p>Task ID:@task.Id</p>
                <p>Task Description:@task.Description</p>
            </li>
        }
    </ul>