@model List<TaskItem>


    <ul>
        @foreach(TaskItem task in Model)
        {
            <li>
                <div>@task.Title</div>
                @if (task.AssignedUserId != null)
                {
                    <div>@task.AssignedUser.FirstName</div>
                }
            </li>
        }
    </ul>